<h3>A Matchmaker</h3>

<p>Welcome, <span>{{user.name}}</span>! Your MMR is {{user.mmr}}</p>

<button id="join-room" data-user="{{user._id}}">Join A Room</button>

<img id="loader" style="display: none" src="http://res.cloudinary.com/esalling/image/upload/v1525059963/Spinner-1s-200px_csskag.gif">

<div id="match-box"></div>
